<!doctype html>
<html lang="en">
<%
var p = {
    page: page,
    title: 'Помощь'
}
%>
<head>
    <%- include('fr/header', p); %>
</head>
<body>

<%- include('fr/navigation', p); %>

<main class="main-container">

    <section id="help" class="container">

        <h1 class="page-header">Помощь</h1>

        <div class="bg-light p-5 rounded" style="min-height: 300px">

            <div>

                <h2>Сбор и хранение данных</h2>
                <p class="lead">
                    Вся персональная информация храниться исключительно в базе данных устройства пользователя, на котором
                    выполняется приложение
                    <strong>PassTransfer</strong> и не
                    предназначена для передачи третьим лицам или разработчику. Хранение данных на устройстве осуществляется
                    в зашифрованном формате и не может быть
                    считано без указания основного пароля и разблокировки устройства. Безопасность хранения ключей
                    обеспечена средствами системы
                    <strong>Android Keystore</strong> и
                    встроенных библиотек шифрования Android. В случае утери основного пароля или сбоя устройства данные не
                    подлежат восстановлению. За резервное
                    копирование и дальнейшее его хранение разработчик приложения ответственности не несет. Разработчик может
                    предоставить дополнительные средства
                    для переноса и резервного копирования данных с устройства на внешний накопитель.
                </p>
                <h2>Передача данных</h2>
                <p class="lead">
                    Приложение предоставляет механизм передачи информации на другое внешнее устройство для личного
                    использования. В этом случае пользователь сам
                    инициирует соединение средствами приложения и соглашается на передачу данных. В качестве прокси сервера
                    для соединения мобильного устройства
                    пользователя и внешнего используется сайт
                    <strong>PassTransfer</strong>. Прокси-сайт выполняет функции посредника связи, не хранит передаваемую
                    информацию и не
                    хранит логи с персональными данными. Безопасность передачи данных обеспечивается путем асимметричного
                    RSA шифрования. Публичный и приватный
                    ключи являются одноразовыми, генерируются на стороне клиента внешнего устройства и используются в
                    течение одной сессии сеанса передачи данных,
                    после чего уничтожаются. Если пользователь инициирует новое подключение, то происходит создание новой
                    пары ключей. Связь клиента с прокси-сайтом
                    осуществляется по безопасному <b>https</b> протоколу.
                </p>
                <p class="lead">
                    После получения и расшифровки информации на внешнем устройстве разработчик не несет ответственность за
                    дальнейшее сохранение и использование
                    полученных данных. Для того чтобы данные не были доступны третьим лицам пользователь должен убедиться,
                    что внешнее устройство не содержит
                    вирусов, а также, что посторонние не имеют доступа к этому устройству. Не храните важную информацию в
                    открытом виде, используйте антивирус с
                    актуальной базой и установите надежный пароль для доступа к вашему устройству (или используйте механизм
                    биометрической проверки личности).
                </p>
                <p class="lead">

                </p>
                <h2>Необходимые разрешения</h2>
                <p class="lead">
                    Для работы приложения в системе Android требуется предоставить следующие разрешения:
                </p>
                <ul>
                    <li>
                        <strong>Доступ к Интернету</strong>
                        (только во время использования приложения). Необходим для безопасной передачи информации на внешнее
                        устройство.
                    </li>
                    <li>
                        <strong>Доступ к камере</strong>
                        (только во время использования приложения). Нужен для инициализации подключения к внешнему
                        устройству.
                    </li>
                    <li>
                        <strong>Доступ к внутренней памяти</strong>
                        (только во время использования приложения). Необходим для хранения информации.
                    </li>
                </ul>
                <p class="lead">
                    Если на внешнем устройстве используется WEB браузер для инициализации передачи данных, то возможно
                    потребуется разрешить доступ к буферу обмена
                    внешнего устройства для сохранения в него полученной информации.
                </p>

            </div>

            <div class="row  row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Списки</h5>
                            <p class="card-text">
                                Создавайте списки используя разные коды
                            </p>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <ul>
                                    <li class="">Введите код 1</li>
                                    <li class="">Добавляйте записи</li>
                                    <li class="">Введите код 2 (предыдущие записи исчезнут)</li>
                                    <li class="">Добавляйте записи</li>
                                    <li class="">Чтобы перейти к списку 1 заново введите код 1</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                Количество кодов не ограничено
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Какой сложности должен быть код?
                        </div>
                        <div class="card-body">
                            <p class="card-text">Достаточно простой комбинации 4-6 цифробуквенной последовательности, которая позволит защитить данные от ручного перебора.</p>
                            <p class="card-text">Для надежности шифрования дополнительно используется аппаратная поддержка Android.</p>
                            <p class="card-text">Простые комбинации (0000 или 1234) подойдут для хранения не критической информации, которая может быть полезна, например, для отвода глаз злоумышленника в случае кражи аппарата.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Передача данных на внешнее устройство
                        </div>
                        <div class="card-body">
                            <p class="card-text">Приложение позволяет передавать данные с телефона на другие устройства, подключенные к сети.
                            <p class="card-text">
                                Безопасность передачи обеспечивается механизмом ассиметричного шифрования.
                            </p>
                            <p class="card-text">
                                Передача данных происходит из приложения в буфер обмена внешнего устройства (клиента).
                            </p>
                            <p class="card-text">
                                Для начала передачи перейдите <a href="/">на страницу подключения</a> и отсканируйте QR код для осуществления связи приложения и клиента.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Полезные советы.
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <ul>
                                    <li class="">По завершении работы с приложением, всегда очищайте буфер обмена вашего мобильного и внешнего устройства.</li>
                                    <li class="">Не используйте слишком простые коды для создания списков в которых планируется хранить критически важную информацию.</li>
                                    <li class="">Установите пароль непосредственно на само мобильное устройство или используйте биометрическую защиту.</li>
                                    <li class="">После передачи данных на внешнее устройство перезагрузите страницу сайта или закройте браузер.</li>
                                    <li class="">Не оставляйте телефон с открытым приложением без присмотра</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<%- include('fr/footer', p); %>

</body>
</html>
