<!doctype html>
<html lang="en">
<%
var p = {
    page: page,
    title: 'Политика конфиденциальности'
}
%>
<head>
    <%- include('fr/header', p); %>
</head>
<body>

<%- include('fr/navigation', p); %>

<main class="main-container">

    <section id="privacy" class="container">

        <h1 class="page-header">Политика конфиденциальности</h1>

        <div class="bg-light p-5 rounded">

            <p class="lead">
                Настоящая Политика конфиденциальности описывает процедуры и методы сбора, хранения и передачи
                персональных данных
                при использовании приложения и сайта <strong>PassTransfer</strong>.
            </p>
            <h2>Сбор и хранение данных</h2>
            <p class="lead">
                Вся персональная информация храниться исключительно в базе данных устройства пользователя, на котором
                выполняется приложение
                <strong>PassTransfer</strong> и не
                предназначена для передачи третьим лицам или разработчику. Хранение данных на устройстве осуществляется
                в зашифрованном формате и не может быть
                считано без указания основного пароля и разблокировки устройства. Безопасность хранения ключей
                обеспечена средствами системы
                <strong>Android Keystore</strong> и
                встроенных библиотек шифрования Android. В случае утери основного пароля или сбоя устройства данные не
                подлежат восстановлению. За резервное
                копирование и дальнейшее его хранение разработчик приложения ответственности не несет. Разработчик может
                предоставить дополнительные средства
                для переноса и резервного копирования данных с устройства на внешний накопитель.
            </p>
            <h2>Передача данных</h2>
            <p class="lead">
                Приложение предоставляет механизм передачи информации на другое внешнее устройство для личного
                использования. В этом случае пользователь сам
                инициирует соединение средствами приложения и соглашается на передачу данных. В качестве прокси сервера
                для соединения мобильного устройства
                пользователя и внешнего используется сайт
                <strong>PassTransfer</strong>. Прокси-сайт выполняет функции посредника связи, не хранит передаваемую
                информацию и не
                хранит логи с персональными данными. Безопасность передачи данных обеспечивается путем асимметричного
                RSA шифрования. Публичный и приватный
                ключи являются одноразовыми, генерируются на стороне клиента внешнего устройства и используются в
                течение одной сессии сеанса передачи данных,
                после чего уничтожаются. Если пользователь инициирует новое подключение, то происходит создание новой
                пары ключей. Связь клиента с прокси-сайтом
                осуществляется по безопасному <b>https</b> протоколу.
            </p>
            <p class="lead">
                После получения и расшифровки информации на внешнем устройстве разработчик не несет ответственность за
                дальнейшее сохранение и использование
                полученных данных. Для того чтобы данные не были доступны третьим лицам пользователь должен убедиться,
                что внешнее устройство не содержит
                вирусов, а также, что посторонние не имеют доступа к этому устройству. Не храните важную информацию в
                открытом виде, используйте антивирус с
                актуальной базой и установите надежный пароль для доступа к вашему устройству (или используйте механизм
                биометрической проверки личности).
            </p>
            <p class="lead">

            </p>
            <h2>Необходимые разрешения</h2>
            <p class="lead">
                Для работы приложения в системе Android требуется предоставить следующие разрешения:
            </p>
            <ul>
                <li>
                    <strong>Доступ к Интернету</strong>
                    (только во время использования приложения). Необходим для безопасной передачи информации на внешнее
                    устройство.
                </li>
                <li>
                    <strong>Доступ к камере</strong>
                    (только во время использования приложения). Нужен для инициализации подключения к внешнему
                    устройству.
                </li>
                <li>
                    <strong>Доступ к внутренней памяти</strong>
                    (только во время использования приложения). Необходим для хранения информации.
                </li>
            </ul>
            <p class="lead">
                Если на внешнем устройстве используется WEB браузер для инициализации передачи данных, то возможно
                потребуется разрешить доступ к буферу обмена
                внешнего устройства для сохранения в него полученной информации.
            </p>

        </div>
    </section>

</main>

<%- include('fr/footer', p); %>

</body>
</html>
