<footer class="container d-flex flex-wrap justify-content-between align-items-center py-2 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 <b>Pass Transfer</b></p>


    <ul class="nav col-md-6 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная</a></li>
        <li class="nav-item"><a href="/download" class="nav-link px-2 text-muted">Скачать</a></li>
        <li class="nav-item"><a href="/help" class="nav-link px-2 text-muted">Помощь</a></li>
        <li class="nav-item"><a href="/contacts" class="nav-link px-2 text-muted">Контакты</a></li>
        <li class="nav-item"><a href="https://johni5.github.io/passtransfer-web/privacy.html" class="nav-link px-2 text-muted">Политика конфиденциальности</a></li>
    </ul>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</footer>